@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'NeueMachina';
    src: url('assets/fonts/NeueMachina-Ultrabold.woff') format('woff'), url('assets/fonts/NeueMachina-Ultrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMachina';
    src: url('assets/fonts/NeueMachina-Regular.woff') format('woff'), url('assets/fonts/NeueMachina-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply font-sans antialiased text-slate-900 bg-slate-50;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-heading tracking-tight;
    }
}
@media print {
    .print-hidden {
        display: none !important;
    }

    body {
        background-color: white !important;
    }

    input, select {
        border: none !important;
        background: transparent !important;
        padding: 0 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    /* Remove outline from all elements when printing */
    * {
        outline: none !important;
        box-shadow: none !important;
    }

    /* Force background colors to print if needed by specific elements like the profitability bar */
    .bg-emerald-500 {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}

